#loadingOverlay{

    position:fixed;

    inset:0;

    background:#020617ee;

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:99999;

}

.loader-card{

    width:500px;

    background:#111827;

    padding:40px;

    border-radius:30px;

    text-align:center;

    color:white;

    border:1px solid #334155;

}

.spinner{

    width:70px;

    height:70px;

    border:8px solid #334155;

    border-top:8px solid #3b82f6;

    border-radius:50%;

    margin:auto;

    animation:spin 1s linear infinite;

}

@keyframes spin{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}

.progress{

    height:10px;

    background:#1e293b;

    border-radius:100px;

    margin-top:25px;

    overflow:hidden;

}

.progress-bar{

    width:100%;

    height:100%;

    background:linear-gradient(90deg,#2563eb,#7c3aed);

    animation:loading 30s linear forwards;

}

@keyframes loading{

    from{

        width:0%;

    }

    to{

        width:100%;

    }

}

#statusText{

    margin-top:25px;

    font-size:18px;

    color:#cbd5e1;

}