body{

background:#0f172a;

color:white;

font-family:Arial;

text-align:center;

margin-top:70px;

}

.container{

width:70%;

margin:auto;

}

input{

width:400px;

padding:12px;

border-radius:8px;

border:none;

}

button{

padding:12px 25px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

}

button:hover{

background:#1d4ed8;

}

pre{

background:#1e293b;

padding:20px;

border-radius:10px;

text-align:left;

white-space:pre-wrap;

}